# Ambiente virtual
venv/
ENV/
env/
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Configurações locais
*.env
*.ini
*.cfg
*.toml
.DS_Store
Thumbs.db

# VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm / JetBrains
.idea/
*.iml

# Compilações / builds
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Arquivos temporários do sistema
*.swp
*.swo
*.tmp
*.bak

#biblioteca central php
/vendor/