@font-face {
    font-family:'Roboto';
    src: url('/roboto-font/Roboto-Black.ttf') format('truetype'), 
    url('/roboto-font/Roboto-BlackItalic.ttf') format('truetype'), 
    url('/roboto-font/Roboto-Bold.ttf') format('truetype'), 
    url('/roboto-font/Roboto-BoldCondensed.ttf') format('truetype'), 
    url('/roboto-font/Roboto-BoldCondensedItalic.ttf') format('truetype'), 
    url('/roboto-font/Roboto-BoldItalic.ttf') format('truetype'), 
    url('/roboto-font/Roboto-Condensed.ttf') format('truetype'), 
    url('/roboto-font/Roboto-CondensedItalic.ttf') format('truetype'), 
    url('/roboto-font/Roboto-Italic.ttf') format('truetype'), 
    url('/roboto-font/Roboto-Light.ttf') format('truetype'),
    url('/roboto-font/Roboto-LightItalic.ttf') format('truetype'),
    url('/roboto-font/Roboto-Medium.ttf') format('truetype'),
    url('/roboto-font/Roboto-MediumItalic.ttf') format('truetype'),
    url('/roboto-font/Roboto-Regular.ttf') format('truetype'),
    url('/roboto-font/Roboto-Thin.ttf') format('truetype'),
    url('/roboto-font/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


p, label, input, legend, span{
    font-family:'Roboto', Times, serif;
    font-weight: normal;
}
