@import './fonts.css';
@import './elements.css';
@import './normalize.css';
@import './variables.css';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x:hidden;
}
.carousel h5{
    position: absolute;
    padding: 5px;
}
#posicao-slide{
    position:relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 50px;
}
#center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}