#profile{
    position: relative;
    background-color: rgb(214, 214, 214);
    width: 600px;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow:  10px 10px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 9%;
}

#foto{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#profile p{
    font-style: normal;
    font-size: 25pt;
    font-family:Arial, Helvetica, sans-serif;
}

#link-retorno{
    display: flex;
    margin-top: 30px;
}