@font-face {
    font-family: 'Raleway';
    src: url(../../../Font/Raleway-VariableFont_wght.ttf) format(truetype),
    url(../../../Font/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
}

p, label, input, legend, span, a{
    font-family:'Raleway';
    font-weight: normal;
    text-align: justify;
}

