#dois{
    width: auto;
    height: auto;

}
#ano_2025, #ano_2024, #ano_2023{
    width: 100%;
    height: 50px;
    background-color: #d6be9e;
    border: solid 1px #2d543d;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#provas_2025, #provas_2024, #provas_2023{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#provas_2025 a, #provas_2024 a, #provas_2023 a {
    text-decoration: none;
}

#ano_2025 button, #ano_2024 button, #ano_2023 button{
    background-color: transparent;
    text-align: left;
    width: 100%;
    height: 100%;
}
#ano_2025:hover, #ano_2024:hover, #ano_2023:hover{
    cursor: pointer;
}