@import './partials/section-um.css';
@import './partials/section-dois.css';
@import './partials/section-tres.css';
@import './partials/section-quatro.css';

@import '../../global/global.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    padding: 10px 20px;
    background-color: #eee;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}