@import './partials/section-um.css';
@import './partials/section-dois.css';
@import './partials/section-tres.css';
@import './partials/section-quatro.css';

@import '../../global/global.css';

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    padding: 10px 20px;
    background-color: #eee;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

#profile{
    position: relative;
    background-color: rgb(214, 214, 214);
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
}

#foto{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#profile p{
    font-style: normal;
    font-size: 25pt;
    font-family:Arial, Helvetica, sans-serif;
}