nav{
    margin-bottom: 20px;
}

/* Animação para selecionar redação corrigida */ 

.card-redFeita{
    transition: transform 0.3s ease;
    transition: 1s;
    border: 1px solid #143c2c;
}

.card-redFeita:hover{
    transform: scale(1.1); /* aumenta a proporção em 20% */

}

#visualizar_corrigida{
    width: 220px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 7px;
    opacity: 1;
    background-color: #143c2c;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.card-redFeita:hover > #visualizar_corrigida{
    opacity: 1;
    visibility: visible;
}

/* Animação para para visualizar que a redação não está corrigida */ 

.card-redPendente{
    transition: transform 0.3s ease;
    transition: 1s;
    border: 1px solid red;
}

.card-redPendente:hover{
    transform: scale(1.1); /* aumenta a proporção em 20% */
    cursor: pointer;

}

#corr_pendente{
    width: 220px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
    opacity: 1;
    background-color: rgb(128, 18, 18);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.card-redPendente:hover > #corr_pendente{
    opacity: 1;
    visibility: visible;
}


