#titulo{
    margin: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#btn1{
    background-color: rgba(160, 130, 200, 1);
}
#btn2{
    background-color: rgba(220, 140, 110, 1);
}
#btn3{
    background-color: rgba(67, 185, 150, 1);
}

.card{
    height: auto;
    min-height: 21vh;
}