p{
    text-align: justify;
}
#pai{
    margin-bottom: 0;
    height: auto;
    display: flex;
}
#esquerda{
    float: left;
    background-color: rgba(201, 200, 225, 0.331);
    padding: 30px;
    width: 60%;
    margin-right: 7px;
}
#direita{
    float: right;
    background-color: rgba(201, 200, 225, 0.331);
    padding: 30px;
    width: 35.25%;
}